<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of service</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
</head>

<body>
    <div class="container_terms">
        <h1>Terms of Service</h1>
        <p>Welcome to our website! By accessing or using our services, you agree to the following terms and conditions. Please read them carefully.</p>
        
        <h2>1. Acceptance of Terms</h2>
        <p>By using this website, you agree to be bound by these Terms of Service and our <a href="/privacynotice">Privacy Policy</a>. If you do not agree, please do not use our services.</p>
        
        <h2>2. Use of Services</h2>
        <p>You agree to use our services in compliance with all applicable laws and regulations. Any unauthorized use is strictly prohibited. You must be over 15 years old to use our service.</p>
        
        <h2>3. User Accounts</h2>
        <p>If you create an account on our website, you are responsible for maintaining the confidentiality of your login credentials.</p>
        
        <h2>4. Limitation of Liability</h2>
        <p>We are not responsible for any damages arising from the use of our services. Our liability is limited to the maximum extent permitted by law.</p>
        
        <h2>5. Changes to Terms</h2>
        <p>We reserve the right to update these Terms of Service at any time. Any changes will be posted on this page, and your continued use of our services constitutes acceptance of the updated terms.</p>
        
        <p>If you have any questions about these terms, please contact us.</p>

        <h2>6. Contact information</h2>
        <p>Phone: 76512345678</p>
        <p>Email: noanwser@bs.com</p>
    </div>
</body>

</html>